<html>
<style>
    FONT {
        FONT-SIZE: 12pt;
        font-weight: bold;
    }

    table {
        FONT-SIZE: 14px;
    }
</style>
<head>
    <style>
        FONT {
            FONT-SIZE: 12pt;
        }

        TR.jk {
            background-color: #6699CC;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 11px;
            font-weight: bold;
        }

        td.tds {
            background-color: #ffffff;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 11px;
            font-weight: normal;
        }

        BUTTON .sub {
            width: 200PX;
        }
    </style>
</head>
<body class='bdystyle' rightmargin='50' topmargin='0' style='background-color: #FFFFFF'>
    <!--135 top margin prev-->
    <table bordercolor=black face='Tahoma' style='font-family:Tahoma' align=center>
        <tr>
            <td>
                <table width=100%>
                    <tr>
                        <td align='left' width=35%><img src='http://ecard.medibuddy.in/images/malogo.gif' border='0' width=20% height='40px'></td>
                        <td align='left'><b>Medi Assist Insurance TPA Pvt Ltd <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Claim Payment Advice</b> </td>
                    </tr>
                </table>
                <table border='0' cellpadding='2' cellspacing='0' width='100%' style='font-size:10pt' style='font-family:Tahoma'>
                    <tr>
                        <td width='30%'> <b>Claim No:</b><br />@Model.ClaimNo  </td>
                        <td width='*'> <b>Claim Type :</b><br />@Model.ClaimType </td>
                        <td colspan=2><b>Payment Date:</b><br />@Model.Auditdate.ToString("dd-MMM-yyyy")</td>
                    </tr>

                    @if (Model.ClaimAddress.FromTable == "FT")
                    {
                        if (Model.Policy.PolicyType == 2)
                        {

                            string Sal = string.Empty;
                            if (Model.PriBeneficiary.Name == "")
                            {
                                Sal = Model.Beneficiary.Title;
                            }
                            else
                            {
                                Sal = Model.PriBeneficiary.Title;
                            }
                            <tr>
                                <td height='1' colspan='2'>
                                    To:<font>@Sal @Model.ClaimAddress.BenefNameTo1 (emp no: @Model.PriBeneficiary.EmployeeCode )</font>
                                    <input type='hidden' id='Hidden7' name='hidcaption1' value='@Sal @Model.ClaimAddress.BenefNameTo1'>
                                    <input type='hidden' id='Hidden8' name='hidcaption2' value=''>
                                </td>
                                <td><b>Mode of settlement:</b><br />@Model.PaymentDetails.PaymentMode</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td height='1' colspan=2>
                                    Address:<font>@Model.Beneficiary.Title @Model.ClaimAddress.BenefNameTo1 (emp no:@Model.PriBeneficiary.EmployeeCode)</font>
                                    <input type='hidden' id='Hidden9' name='hidcaption1' value='@Model.Beneficiary.Title @Model.ClaimAddress.BenefNameTo1'>
                                </td>
                                <td><b>Mode of settlement:</b><br />@Model.PaymentDetails.PaymentMode</td>
                            </tr>
                            if (Model.ClaimAddress.BenefNameTo1 != Model.PriBeneficiary.Name && Model.PriBeneficiary.Name != "")
                            {
                                <tr>
                                    <td height='1' colspan=2>
                                        <font>@Model.ClaimAddress.BenefNameTo2</font>
                                        <input type='hidden' id='Hidden11' name='hidcaption2' value='@Model.ClaimAddress.BenefNameTo2'>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <input type='hidden' id='Hidden10' name='hidcaption2' value=''>
                            }
                        }
                        <tr>
                            <td height='1' colspan=2>
                                <font>@Model.ClaimAddress.Address1</font>
                                <input type='hidden' id='Hidden12' name='hidaddd1' value='@Model.ClaimAddress.Address1'>
                            </td>
                        </tr>
                        <tr>
                            <td height='1' colspan=2>
                                <font>@Model.ClaimAddress.Address2</font>
                                <input type='hidden' id='Hidden13' name='hidaddd2' value='@Model.ClaimAddress.Address2'>
                            </td>
                        </tr>
                        <tr>
                            <td height='17' colspan=2>
                                <font>
                                    @Model.ClaimAddress.City

                                    @if (Model.ClaimAddress.PinCode != "")
                                    {
                                        <label> -  @Model.ClaimAddress.PinCode</label>
                                    }
                                </font>
                                <input type='hidden' id='Hidden14' name='hidcityid' value='@Model.Policy.PolicyHolderAddress.CityId'>
                                <input type='hidden' id='Hidden15' name='hidpin' value='@Model.ClaimAddress.PinCode'>
                            </td>

                        </tr>

                    }
                    else
                    {
                        if (Model.ClaimAddress.HrName != "")
                        {
                            if (Model.Policy.PolicyType == 2)
                            {
                                <tr> <td colspan=2><b>Address:</b><br /><font>@Model.ClaimAddress.HrName</font><input type='hidden' name='hidcaption1' value='@Model.ClaimAddress.HrName'></td> <td><b>Mode of settlement:</b><br />@Model.PaymentDetails.PaymentMode</td></tr>
                                <tr> <td colspan=2><font>@Model.Policy.PolicyHolderName</font><input type='hidden' name='hidcaption2' value='@Model.Policy.PolicyHolderName'></td> </tr>
                            }
                            else
                            {
                                <tr>
                                    <td colspan=2>
                                        <b>Address:</b><br />
                                        <font>
                                            @Model.Beneficiary.Title @Model.Beneficiary.Name (emp no: @Model.PriBeneficiary.EmployeeCode)
                                        </font>
                                        <input type='hidden' id='Hidden2' name='hidcaption1' value='@Model.Beneficiary.Title @Model.Beneficiary.Name'>
                                    </td>
                                    <td><b>Mode of settlement:</b><br />@Model.PaymentDetails.PaymentMode</td>
                                </tr>
                                if (Model.Beneficiary.Name != Model.PriBeneficiary.Name && Model.PriBeneficiary.Name != "")
                                {
                                    <tr>
                                        <td colspan=2>
                                            <font>C/O. @Model.PriBeneficiary.Title @Model.PriBeneficiary.Name (emp no:@Model.PriBeneficiary.EmployeeCode) </font>
                                            <input type='hidden' id='Hidden3' name='hidcaption2' value='C/O. @Model.PriBeneficiary.Title @Model.PriBeneficiary.Name'>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <input type='hidden' id='Hidden27' name='hidcaption2' value=''>
                                }
                            }
                        }
                        else
                        {
                            if (Model.Policy.PolicyType == 2 && Model.PriBeneficiary.Name != "")
                            {
                                <tr>
                                    <td colspan=2>
                                        <b>To:</b><br /><font>@Model.PriBeneficiary.Title @Model.PriBeneficiary.Name (emp no:@Model.PriBeneficiary.EmployeeCode)</font>
                                        <input type='hidden' id='Hidden17' name='hidcaption1' value='@Model.PriBeneficiary.Title @Model.PriBeneficiary.Name'>
                                    </td>
                                    <td><b>Mode of settlement:</b><br />@Model.PaymentDetails.PaymentMode</td>
                                </tr>
                                <tr>
                                    <td colspan=2>
                                        <font>@Model.Policy.PolicyHolderName</font>
                                        <input type='hidden' id='Hidden18' name='hidcaption2' value='@Model.Policy.PolicyHolderName'>
                                    </td>
                                </tr>
                            }
                            else if (Model.Policy.PolicyType == 2 && Model.PriBeneficiary.Name == "")
                            {
                                <tr>
                                    <td colspan=2>
                                        <b>Address:</b><br /><font>@Model.Beneficiary.Title @Model.Beneficiary.Name</font>
                                        <input type='hidden' id='Hidden23' name='hidcaption1' value='@Model.Beneficiary.Title @Model.Beneficiary.Name'>
                                        <input type='hidden' id='Hidden24' name='hidcaption2' value=''>
                                    </td>
                                    <td><b>Mode of settlement:</b><br />@Model.PaymentDetails.PaymentMode</td>
                                </tr>

                            }
                            else
                            {
                                <tr>
                                    <td colspan=2>
                                        <b>To:</b><br /><font>@Model.Beneficiary.Title @Model.Beneficiary.Name</font>
                                        <input type='hidden' id='Hidden25' name='hidcaption1' value='@Model.Beneficiary.Title @Model.Beneficiary.Name'>
                                    </td>
                                    <td><b>Mode of settlement:</b><br />@Model.PaymentDetails.PaymentMode</td>
                                </tr>
                                if (Model.Beneficiary.Name != Model.PriBeneficiary.Name && Model.PriBeneficiary.Name != "")
                                {
                                    <tr>
                                        <td colspan=2>
                                            <font>C/O. @Model.PriBeneficiary.Title @Model.PriBeneficiary.Name (emp no:@Model.PriBeneficiary.EmployeeCode) </font>
                                            <input type='hidden' id='Hidden5' name='hidcaption2' value='C/O. @Model.PriBeneficiary.Title @Model.PriBeneficiary.Name'>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <input type='hidden' id='Hidden4' name='hidcaption2' value=''>
                                }
                            }
                        }
                    }
                    <tr><td height='1' colspan=2><font>@Model.Policy.PolicyHolderAddress.Address1</font><input type='hidden' id='Hidden5' name='hidaddd1' value='@Model.ClaimAddress.Address1'></td></tr>
                    <tr><td height='1' colspan=2><font>@Model.Policy.PolicyHolderAddress.Address2</font><input type='hidden' id='Hidden6' name='hidaddd2' value='@Model.ClaimAddress.Address2'></td></tr>
                    <tr>
                        <td height='17' colspan=2>
                            <font>
                                @Model.Policy.PolicyHolderAddress.City
                                <input type='hidden' id='Hidden5' name='hidcityid' value='@Model.Policy.PolicyHolderAddress.CityId'>
                                @if (Model.Policy.PolicyHolderAddress.PinCode != "")
                                {
                                    <label> - @Model.Policy.PolicyHolderAddress.PinCode</label>
                                }

                            </font><input type='hidden' id='Hidden6' name='hidpin' value='@Model.Policy.PolicyHolderAddress.PinCode'>
                        </td>
                    </tr>

                    @if (Model.InsuranceCompany.IsNeftEnabled)
                    {
                        <tr>
                            <td width='20%'><b>Acc No:</b><br />@Model.PaymentDetails.vBankACNo</td>
                            <td width='20%'><b>Bank name:</b><br />@Model.PaymentDetails.BankName</td>
                            <td width='20%'><b>Branch:</b><br />@Model.PaymentDetails.Branch</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td width='20%'><b>Cheque  no:</b><br />@Model.PaymentDetails.ChequeNo</td>
                            <td width='20%'><b>Dated:</b><br />@Model.PaymentDetails.ChequeFormatDate</td>
                            <td width='20%'><b>Amount:</b><br />Rs @Model.PaymentDetails.Amount</td>
                        </tr>
                        <tr><td width='20%'><b>Drawn on:</b><br />@Model.PaymentDetails.BankName</td></tr>
                    }
                    <tr>
                        <td width='20%'>Primary Member  :<br /><b>@Model.PriBeneficiary.Name (@Model.PriBeneficiary.EmployeeCode)</b></td>
                        <td width='20%'>Claimant Name :<br /><b>@Model.Beneficiary.Name</b></td>

                        <td width='20%'>MAID:<br /><b>@Model.Beneficiary.MAID</b></td>
                    </tr>
                    @if (Model.Policy.CorporateId == 1006639)
                    {
                        <tr>
                            <td width='20%'>Employee Name :<br /><b>@Model.PriBeneficiary.Name (@Model.PriBeneficiary.EmployeeCode)</b></td>
                            <td width='20%'>Patient Name :<br /><b>@Model.Beneficiary.Name</b></td>
                        </tr>
                    }
                    <tr>
                        <td width='20%'>Relationship:<br /><b>@Model.Beneficiary.RelationWithPriBenef</b></td>
                        <td width='20%'>Age:<br /><b>@Model.Beneficiary.Age</b></td>
                    </tr>

                    <tr>
                        <td width='20%'>Policy No:<br /><b>@Model.Policy.PolicyNo</b></td>
                        <td width='20%'>Period of Insurance<br />From:<b>@Model.Policy.PolicyStartDate</b></td>
                        <td width='20%'><br />To:<b>@Model.Policy.PolicyEndDate</b></td>
                    </tr>
                    <tr >
                       <TD width='20%'>Date Of Admission:<br /><b>@Model.DOA</b></TD>
                       <td width='20%'>Date of Discharge:<br /><b>@Model.DOD</b></td>
                    </tr>
                    <tr >
                       <td width='20%' colspan=2>Hospital Name & City:<b>@Model.Hospital.Name, @Model.Hospital.Address.City </b></td>
                    </tr>
                    <tr>
                        <td width='20%'>Amount Claimed:<br /><b>Rs @Model.AmountClaimed</b></td>
                        <td width='20%'>Amount Settled:<br /><b>Rs @Model.AmountSettled</b></td>
                    </tr>


                    <table border=1px cellspacing='0' cellpadding='0' align='center' width='100%' bordercolor='black' style='FONT-FAMILY:Tahoma;FONT-SIZE:10pt'
                           id='Table5'>
                        @if (Model.ClaimTypeId != 1)
                        {
                            <tr><th colspan='10'>Category Break Up</th></tr>
                            <tr>
                                <th width='30%'><font style='FONT-FAMILY: Tahoma;FONT-SIZE: 10pt'>Charge Type</font></th>
                                <th width='10%'><font style='FONT-FAMILY: Tahoma;FONT-SIZE: 10pt'>Bill Amount</font></th>
                                <th width='10%'><font style='FONT-FAMILY: Tahoma;FONT-SIZE: 10pt'>Payable Amount</font></th>
                                <th width='10%'><font style='FONT-FAMILY: Tahoma;FONT-SIZE: 10pt'>Non Pay Amount</font></th>
                                <th width='40%'><font style='FONT-FAMILY: Tahoma;FONT-SIZE: 10pt'>Non Payable Reason</font></th>
                            </tr>

                            foreach (var billCharge in Model.ChargesBreakUp)
                            {
                                <tr>
                                    <td>&nbsp;@billCharge.ChargeType &nbsp;</td>
                                    <td align='center'>@billCharge.BillAmount &nbsp;</td>
                                    <td align='center'>@billCharge.PayableAmount &nbsp;	</td>
                                    <td align='center'>@billCharge.NonPayableAmount &nbsp;</td>
                                    <td>@billCharge.NonpayableReason &nbsp;</td>
                                </tr>
                            }
                            <tr>
                                <th align='right'><b>Total&nbsp;&nbsp;</b></th>
                                <th>
                                    <b>	@Model.TotBillAmount</b>
                                </th>
                                <th><b>@Model.TotPayableAmount</b></th>
                                <th><b>@Model.TotNonPayableAmount</b></th>
                                <th><b></b></th>
                            </tr>
                        }
                    </table>
                    <br />
                    <table border=1 cellpadding=0 cellspacing=0 width=40% bordercolor=black font face='verdana' style='font-size:10pt' style='FONT-FAMILY:Tahoma'>
                        @foreach (var deduction in Model.Deductions)
                        {
                            <tr><td> (Less) @deduction.DeductionType (Rs)</td><td align='center'> @deduction.Amount</td></tr>
                        }
                        <tr><td width=75%>(Add) Ser Tax (if Applicable)(Rs)</td><td width=35% align='center'>@Model.Tax.Servicetax</td></tr>
                        <tr><td width=75%>(Less) Tax Deducted at Source(Rs)</td><td width=35% align='center'>@Model.Tax.TaxAtSource</td></tr>
                        <tr><td width=75%>(Less )TDS arrears(Rs)</td><td width=35% align='center'>@Model.Tax.TDSArrears</td></tr>
                        <tr><td width=75%><b>Net Paid/Transferred(Rs)</b></td><td width=35% align='center'><b>@(Model.Tax.NetPaid == 0 ? Model.AmountSettled : Model.Tax.NetPaid)</b></td></tr>
                    </table>
                    <br />
                    @if (Model.InsuranceCompany.IsNeftEnabled)
                    {
                        <p style='font-size:10pt' style='FONT-FAMILY:Tahoma'>As per the instructions of the insurer M/S <b>@Model.InsuranceCompany.Name</b>, the claim is being settled for <b>Rs @Model.AmountSettled</b>,through electronic fund transfer vide UTR NO : @Model.PaymentDetails.UTRNo dated @Model.Auditdate.ToString("dd-MMM-yyyy") through Bank @Model.PaymentDetails.BankName on account of <b>@Model.AilmentName </b>.</p>
                    }
                    else
                    {
                        <p style='font-size:10pt' style='FONT-FAMILY:Tahoma'>As per the instructions of the insurer <b>@Model.InsuranceCompany.Name</b>, the payment for claim has been Initiated for <b>Rs @Model.AmountSettled</b>, through Cheque NO : Model.PaymentDetails.ChequeNo dated Model.Auditdate.ToString("dd-MMM-yyyy") on account of <b>Model.AilmentName IDC Description</b>.</p>
                    }
                    <p style='font-size:10pt' style='FONT-FAMILY:Tahoma'>For any clarifications, you may directly contact the insurer @Model.InsuranceCompany.Name. Please note that amount will be credited to your above referred A/C No. within 24 HOURS or may take maximum 72 hours. In case of failure of credit to your A/C within the timeline, please write to <a href='#' style='text-decoration:underline'>float@mediassistindia.com</a></p>
                    <p style='font-size:10pt' style='FONT-FAMILY:Tahoma'>The payment made is full and final and Insurer/MediAssist are discharged from any financial liability by settlement of the claim.</p>
                    <p style='font-size:10pt' style='FONT-FAMILY:Tahoma'>This is a Computer generated Settlement advice and signature is not required.</p>
                    <table border=0 align=center font face='verdana' style='font-size:10pt' style='FONT-FAMILY: Tahoma'>
                        <tr align=center>
                            <td>Regd office: Tower D, 4th Floor, IBC Knowledge Park, 4/1, Bannerghatta Road, K.M.Layout, Bengaluru,Karnataka 560029.</td>
                        </tr>
                        <tr align=center><td> Toll free Nos:1800 425 9449 Website:<a href='#' style='text-decoration:underline'>www.mediassistindia.com</a> ,CIN:U85199KA1999PTC025676</td></tr>
                    </table>
                </table>
            </td>
        </tr>
    </table></table>
</body>
</html>