<html>
<center><img src='http://www.mediassistindia.net/Content/images/logo4PA.gif'></center>
<body>
    Dear @Model.PriBeneficiary.Name,
    <br><br>
    <p align='justify'>
        @*id stage is IR1*@
        @if (Model.ClaimState == "27") 
        {<u>Please refer to our earlier letter dated <b>@Model.ClmRem1Date</b> requesting you to furnish information related to your above claim.</u>}
        @*id stage is FinalReminder*@
        @if (Model.ClaimState == "27")  
        {<u>Please refer to our earlier letter dated <b>@Model.ClmRem1Date and @Model.ClmRem2Date</b> requesting you to furnish the following information which is required for further processing of given claim.</u>}
    </p>
    <p align='justify'>
        On scrutiny of the documents submitted by you towards your <b>@Model.ClaimType</b> claim number <b>@Model.ClaimNo</b> , we would be require the following additional documents/information for further processing of your claim:
    </p>
    <ul>


        @foreach (var doc in Model.Docs)
        {
            <li>
                <b>
                    <u>
                        @if (doc.DocId == 10)
                        { @doc.Remarks }
                        else
                        { @doc.DocName }
                    </u>
                </b>
            </li>
        }

    </ul>

    <p align='justify'>
        You are requested to upload the scanned copies of the above mentioned documents by leveraging the upload option. To upload documents, you are required to access the Insurance Portal > Click on the tracking number > Uplaod the additional documents and re-submit the request.<br><br>

        You are required to complete the action with in 7 working days to avoid auto Cancellation of your claim.<br><br>

        We wish you and your family the best of health always!<br><br><br>

        Regards,<br>HIS Team</td>
        <table width='100%'>
            <tr>
                <td align='right'><font style='font-family:tahoma;font-size:11px'><b>@Guid.NewGuid()</b></font></td>
            </tr>
        </table>
</body>
</html>
